body{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../assets/fondo.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}