<div class="container">
  <h1>Todos los Usuarios</h1>
  <table class="table table-striped default">
    <thead>
      <tr>
        <th>Id</th>
        <th>nombre</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Rol</th>
        <!--<th>Opcion</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th style="text-align: center">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.estado}}</td>
        <td>
          {{user.role['name']}}
        </td>
        <!--<td style="text-align: center">
            <a (click)="editTasks(user)" class="btn btn-secondary" id="btnSmall">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteTasks(user.id)" class="btn btn-danger"  id="btnSmall">
              <i class="material-icons">delete</i>
            </a>
          </td>-->
      </tr>
    </tbody>
  </table>
</div>